<a href="https://colab.research.google.com/github/zahid-bracu/canada-immigration-data-science/blob/main/data_science_python_final_assignment_md_zahidur_rahman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing the pandas library
import pandas as pd

In [3]:
#loading the CSV files into Google Co
from google.colab import files
uploaded = files.upload()

Saving canada.csv to canada.csv

In [4]:
#read the csv file in dataframe
path='/content/canada.csv'
df = pd.read_csv(path)

In [5]:
#finding the shape of the dataframe
df.shape

(197, 43)

In [6]:
df.head(5)

         Type    Coverage          OdName  AREA  ...  2010  2011  2012  2013
0  Immigrants  Foreigners     Afghanistan   935  ...  1758  2203  2635  2004
1  Immigrants  Foreigners         Albania   908  ...   561   539   620   603
2  Immigrants  Foreigners         Algeria   903  ...  4752  4325  3774  4331
3  Immigrants  Foreigners  American Samoa   909  ...     0     0     0     0
4  Immigrants  Foreigners         Andorra   908  ...     0     0     1     1

[5 rows x 43 columns]

In [7]:
 df.dtypes

Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009         int64
2010         int64
2011         int64
2012         int64
2013         int64
dtype: object

In [8]:
df.columns

Index(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013'],
      dtype='object')

In [9]:
 df.axes

[RangeIndex(start=0, stop=197, step=1),
 Index(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
        'DEV', 'DevName', '1980', '1981', '1982', '1983', '1984', '1985',
        '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
        '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
        '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
        '2013'],
       dtype='object')]

In [10]:
df.ndim

2

In [11]:
df.size

8471

In [12]:
df.values

array([['Immigrants', 'Foreigners', 'Afghanistan', ..., 2203, 2635, 2004],
       ['Immigrants', 'Foreigners', 'Albania', ..., 539, 620, 603],
       ['Immigrants', 'Foreigners', 'Algeria', ..., 4325, 3774, 4331],
       ...,
       ['Immigrants', 'Foreigners', 'Zimbabwe', ..., 434, 437, 407],
       ['Immigrants', 'Foreigners', 'Unknown', ..., 2554, 1681, 1484],
       ['Immigrants', 'Both', 'Total', ..., 248748, 257903, 259021]],
      dtype=object)

In [13]:
df.describe()

             AREA          REG  ...           2012           2013
count  197.000000   197.000000  ...     197.000000     197.000000
mean   913.639594  1246.477157  ...    2618.304569    2629.654822
std     15.637379  1179.730385  ...   18763.159434   18838.224387
min    903.000000   905.000000  ...       0.000000       0.000000
25%    903.000000   914.000000  ...      43.000000      45.000000
50%    908.000000   922.000000  ...     235.000000     217.000000
75%    935.000000   926.000000  ...     799.000000     852.000000
max    999.000000  5501.000000  ...  257903.000000  259021.000000

[8 rows x 37 columns]

In [28]:
df.loc['Column_Total']= df.sum(numeric_only=True, axis=0)
df.loc[:,'Row_Total'] = df.sum(numeric_only=True, axis=1)
print(df)

                    Type    Coverage  ...       2013   Row_Total
0             Immigrants  Foreigners  ...     2004.0    131954.0
1             Immigrants  Foreigners  ...      603.0     36866.0
2             Immigrants  Foreigners  ...     4331.0    144312.0
3             Immigrants  Foreigners  ...        0.0      5548.0
4             Immigrants  Foreigners  ...        1.0      5498.0
...                  ...         ...  ...        ...         ...
193           Immigrants  Foreigners  ...       59.0      8784.0
194           Immigrants  Foreigners  ...      407.0     22626.0
195           Immigrants  Foreigners  ...     1484.0   1036112.0
196           Immigrants        Both  ...   259021.0  13854418.0
Column_Total         NaN         NaN  ...  1036084.0  57807228.0

[198 rows x 44 columns]

#Now finding the country which have the lowest imigrant

In [26]:
min_row=df['Row_Total'].min()
print(min_row)

2719.0

In [27]:
df_sub = df[ df['Row_Total'] ==min_row ]
df_sub.head()

           Type    Coverage          OdName   AREA  ... 2011  2012 2013  Row_Total
191  Immigrants  Foreigners  Western Sahara  903.0  ...  0.0   0.0  0.0     2719.0

[1 rows x 44 columns]

In [25]:
 df_sub.OdName

191    Western Sahara
Name: OdName, dtype: object

In [21]:
 df_sub.AreaName

191    Africa
Name: AreaName, dtype: object

In [22]:
df_sub.RegName

191    Northern Africa
Name: RegName, dtype: object